body{
	background-color: pink;
}

.liens {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: black;
  padding-top : 30px;
  padding-bottom : 30px;
  padding-right : 30px;
  padding-left : 30px;
  font-weight : bold;
  font-size : 150%;
  display : flex;
  flex-direction : row;
  justify-content : space-around;

        
  }